{% extends "AdminBundle::layout.html.twig" %}

{% if entity.id  %}
    {% set pagetitle= entity.nombreCompleto%}
    {% set urlupdate=path('socio_update', { 'id': entity.id }) %}
{% else %}
    {% set pagetitle= 'Alta de Nuevo Socio' %}
    {% set urlupdate=path('socio_create') %}
{%endif%}
{% block contentheader %}
<h1> Socios </h1>
{% endblock %}

{% block content %}
    <div class='row'>
        <div class='col-md-12'>
            
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs pull-right">
                        {% if entity.id  %}
                        <li><a href="#tab_vehiculos" data-toggle="tab">VEHÍCULOS</a></li>
                        <li><a href="#tab_empleados" data-toggle="tab">EMPLEADOS</a></li>
                        {% endif %}
                        <li class="active"><a href="#tab_socio" data-toggle="tab">DATOS DEL SOCIO</a></li>              
                        <li class="pull-left header"><i class="fa fa-th"></i> {{ pagetitle }} </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="tab_vehiculos">
                            {% include "AdminBundle:Vehiculo:_partial_list.html.twig" %}                                                     
                                <br>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_empleados">
                            {% include "AdminBundle:Empleado:_partial_list.html.twig" %}                                                    
                                <br>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane active" id="tab_socio" data-id="{{ entity.id }}">
                            <div class='box-body pad'>
                                {% include "AdminBundle:Socio:_partial_edit_socio.html.twig" %}
                                <br>  
                            </div>

                        </div>
                        <!-- /.tab-pane -->

                    </div>
                    <!-- /.tab-content -->
                   
                </div>
                <!-- nav-tabs-custom -->
                

        </div><!-- /.col-->
    </div><!-- ./row -->
{% endblock %}
{% block page_javascript %}
<script src="{{ asset('assets/js/tables.js') }}" type="text/javascript"></script>    
<script src="{{ asset('assets/js/jquery.mask.js') }}" type="text/javascript"></script>    
<script type="text/javascript">
$(document).ready(function() {
    $(".chosen").chosen();      
    $('#sg_adminbundle_socio_nroDocumento').mask('00000000');
    $('#sg_adminbundle_socio_cuit').mask('00-00000000-0');
    // AGREGAR EMPRESA EN SOCIO    
    $('body').on('click','.addParametro',function(e) {
        e.preventDefault();
        var tabla = $(this).data('tabla');
        var data = 'tabla='+tabla;       
        var objNombre = '#sg_configbundle_parametro_nombre';        
        var objSel = $(this).parent().parent().find('select');        
        var urlbase =  $(this).data('url');
        eModal.setModalOptions({
            backdrop: 'static',
            keyboard: false
        });
        var options = {
           url: urlbase,
           data: data,
           title:'Empresa',
           subtitle: 'Agregar nuevo',
           size: eModal.size.sm,
           buttons: [
               {text: 'Guardar', style: 'success', close: true, 
                   click: function(){
                       if( isEmpty( $(objNombre).val() ) ){
                           alert('Debe completar la descripción.');
                           $(objNombre).focus();
                           return false;
                       }                                  
                       $.ajax({
                           url: $('#create_url').val(),
                           data: $("[name='sg_configbundle_parametro']").serialize(),
                           type: 'POST',
                           dataType: 'JSON',
                           success: function(data){                               
                              if(data.msg == 'OK'){                                        
                                  objSel.append('<option value="'+data.id+'">'+data.nombre+'</option>');
                                  var values = objSel.val();
                                  if(values){
                                      values.push(data.id);
                                  }else{
                                      values = data.id;
                                  }                                  
                                  objSel.val(values);           
                                  objSel.trigger("chosen:updated");
                              }else{                                                                                                      
                                 alert(data.msg);   
                               }     
                           }
                       });
                       
                   } },
               {text: 'Cancelar', style: 'danger', close: true }
           ]
       };
       eModal.ajax(options);            
       
    });        

  // show vehiculos
    $('body').on('click','.show-modal',function(e) {
        var urlbase =  $(this).data('url');  
        var size = (~urlbase.indexOf("empleado") == 0) ? eModal.size.lg : eModal.size.sm;
        eModal.setModalOptions({
            backdrop: 'static',
            keyboard: false
        });
        var options = {           
           url: urlbase,          
           size: size,
           buttons: [               
               {text: 'Cerrar', style: 'danger', close: true }
           ]
       };
       eModal.ajax(options); 
    });



    // TAB EMPLEADO  
    //var eTable = $('#table-empleados').DataTable();
    var eTable = $('#table-empleados');

    // TAB VEHICULOS  
    //var vTable = $('#table-vehiculos').DataTable();
    var vTable = $('#table-vehiculos');
    
    // CREATE OR EDIT EMPLEADOS Y VEHICULOS 
    $('body').on('click','.empleado-modal, .vehiculo-modal',function(e) {
        e.preventDefault(); 
        if( $(this).hasClass('empleado-modal') ){
            var table = eTable;  
            var title = 'Empleado'; 
            var tab = '#tab_vehiculos';
            var relatedId = '#table-vehiculos';
        }else{
            var table = vTable;  
            var title = 'Vehículo'; 
            var tab = '#tab_empleados';
            var relatedId = '#table-empleados';
        }
              
        var id = $(this).data('id');
        var socio = $(this).data('socio');
        var data = { id: id, socio: socio };       
        var urlbase =  $(this).data('url');                 
        var subtitle = (id) ? 'Editar' : 'Agregar nuevo';  
        //var parent = table.fnSettings().aiDisplay[$(this).closest('tr').index()];
        eModal.setModalOptions({
                backdrop: 'static',
                keyboard: false
            });
        var options = {
           url: urlbase,
           data: data,
           title: title,
           subtitle: subtitle,
           size: eModal.size.sm,           
           buttons: [
               {text: 'Guardar', style: 'success', close: true, 
                   click: function(){                             
                       if( $(":invalid").length ){
                           alert('Debe completar los datos.');                          
                           return false;
                       }                                   
                       $.ajax({
                           url: $('#formulario-modal').attr('action'),
                           data: $("#formulario-modal").serialize(),
                           type: 'POST',
                           dataType: 'JSON',
                           success: function(data){                               
                              if(data.msg == 'OK'){   
                                 if(parent>=0){                                                                                                                    
                                     var aux = table.fnUpdate(data.trhtml,parent);                                         
                                 }else{
                                    var aux = table.fnAddData(data.trhtml);
                                    var tr = table.fnSettings().aoData[ aux[0] ].nTr;
                                    $(tr).addClass('data-'+data.id);
                                    $(tr).find('td').last().addClass('link-actions'); 
                                    $('#empleados-count').html( parseInt($('#empleados-count').html())+1 )
                                 } 
                                 // actualizar datos en tabla related
                                 if( data.partial ){
                                    $(tab).html(data.partial);                                                             
                                }                            
                              }else{                                                                                                      
                                 alert(data.msg);   
                               }     
                           }
                       });                       
                       
                   } },
               {text: 'Cancelar', style: 'danger', close: true }
           ]
       };       
       eModal.setId('socio-modal');       
       eModal.ajax(options);       
    });             
        
    // BORRAR REGISTRO DE EMPLEADO O VEHICULO
    $('body').on('click','.delete-tab',function(e){
        var url = $(this).data('url'); 
        if( $(this).closest('.table').attr('id') == 'table-empleados' ){
           var table = eTable;
           var related = vTable;
           var relatedId = '#table-vehiculos';
           var tab = '#tab_vehiculos';
        }else{
            var table = vTable;
           var related = eTable;
            var relatedId = '#table-empleados';
           var tab = '#tab_empleados';
        }
        var parent = table.fnSettings().aiDisplay[$(this).closest('tr').index()];
        //var nRow = $(this).closest('tr').get(0);      
        r = confirm('Está seguro de eliminar este registro?');
        if (r) {            
            $.ajax({
                url: url,
                async: true,
                type: "POST",
                dataType: 'JSON',
                success: function(data) {                    
                    if (data.msg === "OK") {
                       table.fnDeleteRow( parent, null, true );
                       // actualizar datos en tabla related
                       if( data.partial ){
                            $(tab).html(data.partial);                            
                            $(relatedId).DataTable();                            
                        }
                        alert('El registro se eliminó con éxito');                                                                        
                    } else                        
                        alert(data.msg);
                }, error: function() {
                    alert('No se puede realizar la operación en este momento');
                }
            });
        }
        return false;
    });
    
});
</script>
{%endblock %}