<div style="text-align: center">
<img src="{{cabecera}}" width="600px">
</div>
<div style="text-align: center">
        <h2>
            {{texto}}
        </h2>
</div>
        <br>
<div style="height:1px; border: solid 1px grey; background-color: grey; width:100%;" ></div>
<div>
    <h4>Centro Materno Infantil CRE-SER</h4>
    <p style='margin:5px 0'><strong>Dirección:</strong> San Luis N° 628, Posadas, Misiones, Argentina. <small>(entre Stgo. del Estero y Tucumán)</small></p>    
    <p style='margin:5px 0'><strong>Teléfono:</strong> (0376) 4428606</p>    
    <p style='margin:5px 0'><strong>Email:</strong> <a href="mailto:contacto@jardincre-ser.com.ar">contacto@jardincre-ser.com.ar</a></p>    
    <p style='margin:5px 0'><strong>Web:</strong> <a href='http://jardincre-ser.com.ar/'>jardincre-ser.com.ar</a></p>    
</div>    
<div style="height:1px; border: solid 1px lightgray; background-color: lightgray; width:100%;" ></div>
<div>
    <p style='color:grey; font-size: 9px'>NO RESPONDA ESTE EMAIL. ESTA CUENTA ES EXCLUSIVA PARA ENVÍO DE NOTIFICACIONES.</p>    
</div>    
