
<div>
    <p>Estimado/a Colega:</p>    
    <p style="text-transform: uppercase">{{socio}}</p>    
    <p>
        {{mensaje}}
    </p>
</div>            

<br>
<div>
<img src="{{cabecera}}" width="400px">
</div>   
<div style="height:1px; border: solid 1px lightgray; background-color: lightgray; width:100%;" ></div>
<div>
    <p style='color:grey; font-size: 9px'>NO RESPONDA ESTE EMAIL. ESTA CUENTA ES EXCLUSIVA PARA ENVÍO DE NOTIFICACIONES.</p>    
</div>   
