<fieldset>
   <div class="form-group col-md-6">
        <label>País:</label>
        <input type="text" value="{{ entity.domicilio.localidad.provincia.pais }}" disabled="disabled" class="form-control">
    </div>
   <div class="form-group col-md-6">
        <label>Provincia:</label>
        <input type="text" value="{{ entity.domicilio.localidad.provincia }}" disabled="disabled" class="form-control">
    </div>
</fieldset>    
<fieldset>
   <div class="form-group col-md-6">
        <label>Localidad:</label>
        <input type="text" value="{{ entity.domicilio.localidad }}" disabled="disabled" class="form-control">
    </div>
   <div class="form-group col-md-3">
        <label>Código Postal:</label>
        <input type="text" value="{{ entity.domicilio.localidad.codPostal }}" disabled="disabled" class="form-control">
    </div>
</fieldset>    