<tr class="td">
    <td class="ordTd"></td>                        
    <td>{{ form_widget(item.nombre, { 'attr': {'class' : 'form-control' } }) }} </td>
    <td>{{ form_widget(item.kilometros, { 'attr': {'class' : 'form-control alignright importe' } }) }}</td>
    <td class="link-actions"> </td>
</tr>